html {
  font-family: georgia;
  font-size: 17px;
}
#showContainer {
  width: 670px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.navButton {
  cursor: pointer;
  float: left;
  width: 25px;
  height: 22px;
  padding: 10px;
  margin-right: 5px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: #000000;
  opacity: 0.65;
  user-select: none;
}
.navButton:hover {
  opacity: 1;
}
.caption {
  float: center;
 }
.imageContainer:not(:first-child) {
  display: none;
}
#description {
  font-style: italic;
}
#step-title {
  font-weight: bold;
}
#heading {
  font-family: georgia;
  font-size: 28px;
  font-style: italic;
  text-align: center;
}